body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
}

.hero-unit {
    display: inline-block;
    margin: 10px auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.poke-type {
    color: #dfdfdf;
    border-radius: 4px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin: 4px;
}

.poke-type.normal{ background-color: #979660 }
.poke-type.fire{ background-color: #E57700 }
.poke-type.water{ background-color: #4979F4 }
.poke-type.electric{ background-color: #F4C800 }
.poke-type.grass{ background-color: #6AB320 }
.poke-type.ice{ background-color: #7CCBCC }
.poke-type.fighting{ background-color: #B73322 }
.poke-type.poison{ background-color: #9F58A5 }
.poke-type.ground{ background-color: #D9B431 }
.poke-type.flying{ background-color: #9986DD }
.poke-type.psychic{ background-color: #F43F72 }
.poke-type.bug{ background-color: #9AA600 }
.poke-type.rock{ background-color: #B09F44 }
.poke-type.ghost{ background-color: #644F8D }
.poke-type.dragon{ background-color: #5108FB }
.poke-type.dark{ background-color: #5E493A }
.poke-type.steel{ background-color: #A1A2C3 }
.poke-type.fairy{ background-color: #DF80E8 }

.selected {
    color: #fff;
    text-decoration: underline;
}

.vs {
    margin-top: 20px;
}

.vs .normal{ color: #979660 }
.vs .fire{ color: #E57700 }
.vs .water{ color: #4979F4 }
.vs .electric{ color: #F4C800 }
.vs .grass{ color: #6AB320 }
.vs .ice{ color: #7CCBCC }
.vs .fighting{ color: #B73322 }
.vs .poison{ color: #9F58A5 }
.vs .ground{ color: #D9B431 }
.vs .flying{ color: #9986DD }
.vs .psychic{ color: #F43F72 }
.vs .bug{ color: #9AA600 }
.vs .rock{ color: #B09F44 }
.vs .ghost{ color: #644F8D }
.vs .dragon{ color: #5108FB }
.vs .dark{ color: #5E493A }
.vs .steel{ color: #A1A2C3 }
.vs .fairy{ color: #DF80E8 }