<div poke-types-grid types="types" model="main"></div>
<div poke-types-grid types="types" model="other"></div>
<div class="vs">
    <span ng-class="main.name | lowercase">{{main.name}} ({{main.value()}})</span>
    {{result}}
    <span ng-class="other[0].name | lowercase">{{other[0].name}} ({{other[0].value()}})</span>
    <span ng-show="other.length == 2">+</span>
    <span ng-show="other.length == 2" ng-class="other[1].name | lowercase">{{other[1].name}} ({{other[1].value()}})</span>
</div>
<button ng-show="other.length == 1" ng-click="switch()">Switch</button>