<div class="hero-unit">
    <div ng-repeat="thing in types">
        <input 
            id="main-{{thing.getName()}}" 
            type="radio" 
            name="main" 
            ng-model="$parent.mainSelected"
            ng-value="thing" 
            ng-change="selectMain(thing)"/>
        <label for="main-{{thing.getName()}}">{{thing.getName()}}</label>
    </div>
</div>
<div class="hero-unit">
    <div ng-repeat="thing in types">
        <input 
            id="other-{{thing.getName()}}" 
            type="radio"             
            ng-model="$parent.otherSelected"
            ng-value="thing" 
            ng-change="selectOther(thing)"/>
        <label for="other-{{thing.getName()}}">{{thing.getName()}}</label>
    </div>
</div>
<div class="vs">{{result}}</div>